<header class="max-w-lg mx-auto">
    <a href="#">
        <h1 class="text-4xl font-bold  text-center">LISTADO DE PRODUCTOS</h1>
    </a>
    <a href="/">
      regresar
   </a>
</header>

<section class="bg-white py-20 lg:py-[120px]">
   <div class="container">
      <div class="flex flex-wrap -mx-4">
         <div class="w-full px-4">
            <div class="max-w-full overflow-x-auto">
               <% if(productos.length > 0){ %> 

                <table class="table-auto w-full">
                  <thead>
                     <tr class="bg-primary text-center">
                        <th
                           class="
                           w-1/6
                           min-w-[160px]
                           text-lg
                           font-semibold
                           text-white
                           py-4
                           lg:py-7
                           px-3
                           lg:px-4
                           "
                           >
                           NOMBRE
                        </th>
                        <th
                           class="
                           w-1/6
                           min-w-[160px]
                           text-lg
                           font-semibold
                           text-white
                           py-4
                           lg:py-7
                           px-3
                           lg:px-4
                           "
                           >
                           PRECIO
                        </th>
                        <th
                           class="
                           w-1/6
                           min-w-[160px]
                           text-lg
                           font-semibold
                           text-white
                           py-4
                           lg:py-7
                           px-3
                           lg:px-4
                           "
                           >
                           FOTO
                        </th>
                     
                     </tr>
                  </thead>
                  <tbody>
                     <% for (const producto of productos) {%> 
                     <tr>
                        <td
                           class="
                           text-center text-dark
                           font-medium
                           text-base
                           py-5
                           px-2
                           bg-[#F3F6FF]
                           border-b border-l border-[#E8E8E8]
                           "
                           >
                           <%=producto.titulo %>
                        </td>
                        <td
                           class="
                           text-center text-dark
                           font-medium
                           text-base
                           py-5
                           px-2
                           bg-white
                           border-b border-[#E8E8E8]
                           "
                           >
                          <%=producto.precio %>
                        </td>
                        <td
                           class="
                           text-center text-dark
                           font-medium
                           text-base
                           py-5
                           px-2
                           bg-[#F3F6FF]
                           border-b border-[#E8E8E8]
                           "
                           ><img src=" <%=producto.miniatura %> " alt="producto">
                        </td>
                     </tr>
                     <% } %> 
                  </tbody>
               </table>
               <% } else { %> 
                  No hay productos
              <% } %> 
              
            </div>
         </div>
      </div>
   </div>
</section>